{% extends 'base.html.twig' %}

{% block title %}Connexion - Knowledge Learning{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-4">Connexion</h2>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {{ form_start(form, {'action': path('app_login'), 'method': 'POST'}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password) }}
                    {{ form_row(form._remember_me) }}
                    {{ form_row(form.submit) }}
                    {{ form_end(form) }}

                    <div class="text-center mt-3">
                        <p>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
