{% extends 'base.html.twig' %}

{% block title %}Inscription - Knowledge Learning{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center text-primary mb-4">Inscription</h2>

                    {{ form_start(form) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.password.first) }}
                        {{ form_row(form.password.second) }}

                    <br>
                    <button  type="submit" class="btn btn-primary w-100">S'inscrire</button>
                    {{ form_end(form) }}

                    <div class="text-center mt-3">
                        <p>Déjà un compte ? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
